{% extends 'inventory/base.html' %}
{% load static %}
{% block content %} 
<th>If any ingredient for new menu item not listed below, add ingredient information and click "Submit", else click "Move onto Recipe"</th>
<ul>
    
    {% for i in ingredients %} 
    <li>{{i.name}}{{i.quantity}}</li>
    {% endfor %}
</ul>
<form method='POST'>
    {% csrf_token %} 
    {{form.as_p}}
    <input type='submit' value='Submit'/>
</form>
<a href="{% url 'createrecipe' %}"><button type='button'>Move on to recipe</button></a>
{% endblock %}
